@import '../../_colors';

.text-input {
  padding: 8px 0;
  outline: none;
  background: transparent;
  border-radius: 0px;
  border: none;
  width: 100%;
  border-bottom: 1px solid #ececec;
  transition: 0.3s;

  &:focus {
    border-color: $dark-text;
  }
}

.icon-input {
  display: flex;
  align-items: center;
  position: relative;

  input {
    @extend .text-input;
    padding-left: 20px;
  }

   i{
    position: absolute;
    left: 0px;
    color: #a8a8a8;
   }

   input:focus + i{
    color: $dark-text !important  ;
   }
}

.input {
  display: flex;
  align-items: center;

  i {
    margin-right: 10px;
    color: #8b8b8b;
  }
}

.date-input {
  padding: 8px 0;
  border: none;
  outline: none;
  background: white;
  border-radius: 5px;
  width: 100%;
}

.text-area {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #ececec;
  transition: 0.3s;

  &:focus {
    border-color: $dark-text;
  }
}
