@import '../../_colors';

.notes-wrapper {
  position: relative;
  min-height: 750px;
}

.cards-grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(390px, 1fr));
  // place-items: center;
  row-gap: 80px;
  padding: 80px 0;
}

@media (max-width: 1200px) {
  .cards-grid-container {
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
    justify-items: center;
  }
}

.notes-wrapper__header {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;

  .input-container {
    width: 50%;
  }
}
