@import '../../_colors';

.notes-wrapper {
  position: relative;
  min-height: 750px;
}

.cards-grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(390px, 1fr));
  // place-items: center;
  row-gap: 80px;
  padding: 80px 0;
}

@media (max-width: 1200px) {
  .cards-grid-container {
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
    justify-items: center;
  }
}

.notes-wrapper__header {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;

  .input-container {
    width: 50%;
  }
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
}

.prev-btn {
  margin-right: 30px;
}

.next-btn,
.prev-btn {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  background: $primary;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: 0.5s !important;

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    background: #999999;
  }

  i {
    width: 0;
    transition: 0.5s !important;
  }
  span {
    transition: 0.3s !important;
  }
}

.next-btn {
  i {
    transform: translateX(80px);
  }
  &:hover {
    span {
      transform: translateX(-80px);
    }
    i {
      width: auto;
      transform: translateX(-14px);
    }
  }
}

.prev-btn {
  i {
    transform: translateX(-80px);
  }
  &:hover {
    span {
      transform: translateX(80px);
    }
    i {
      width: auto;
      transform: translateX(16px);
    }
  }
}
