$primary: #6f66e9;
$secondary: #e8e7fc;
$logo: #242074;
$background-accent: #f8f8f8;
$primary-light: #d6d5ee;
$dark-text:#636363;
$light-text:#adadad;
$danger:red;
$danger-outline:rgba(255, 0, 0, 0.452);





